/*

!.gitignore
!LICENSE
!README.md

!build_plugin.py

!/bin
/bin/*
!bin/editor
!bin/editor_debug

!/source
/source/*
!/source/cmake

!/source/GeometryNodesPlugin
/source/GeometryNodesPlugin/*
!source/GeometryNodesPlugin/*.h
!source/GeometryNodesPlugin/*.cpp
!source/GeometryNodesPlugin/Gui
!source/GeometryNodesPlugin/geonodes.py
!source/GeometryNodesPlugin/*.json
!source/GeometryNodesPlugin/CMakeLists.txt